In [46]:
import pandas as pd 
df = pd.read_excel("FEV-data-Excel.xlsx",sheet_name= "Auta elektryczne")

budget = 350000
min_range = 400

filtered_evs = df[(df['Minimal price (gross) [PLN]'] <= budget) & 
    (df['Range (WLTP) [km]'] >= min_range)][['Car full name', 'Make', 'Model', 'Minimal price (gross) [PLN]', 'Range (WLTP) [km]']]

filtered_evs =filtered_evs.sort_values('Minimal price (gross) [PLN]')

print(f'EVs under{budget:,} PLN with >={min_range} km range:')
print(filtered_evs.to_string(index = False))

EVs under350,000 PLN with >=400 km range:
                    Car full name          Make                       Model  Minimal price (gross) [PLN]  Range (WLTP) [km]
  Volkswagen ID.3 Pro Performance    Volkswagen        ID.3 Pro Performance                       155890                425
                 Kia e-Soul 64kWh           Kia                e-Soul 64kWh                       160990                452
                 Kia e-Niro 64kWh           Kia                e-Niro 64kWh                       167990                455
      Hyundai Kona electric 64kWh       Hyundai         Kona electric 64kWh                       178400                449
            Volkswagen ID.3 Pro S    Volkswagen                  ID.3 Pro S                       179990                549
Tesla Model 3 Standard Range Plus         Tesla Model 3 Standard Range Plus                       195490                430
              Volkswagen ID.4 1st    Volkswagen                    ID.4 1st                       202390                500
         Tesla Model 3 Long Range         Tesla          Model 3 Long Range                       235490                580
        Tesla Model 3 Performance         Tesla         Model 3 Performance                       260490                567
                          BMW iX3           BMW                         iX3                       282900                460
                Mercedes-Benz EQC Mercedes-Benz                         EQC                       334700                414
           Audi e-tron 55 quattro          Audi           e-tron 55 quattro                       345700                438

In [20]:
filtered_df = df[(df['Minimal price (gross) [PLN]'] <= 350000) & (df["Range (WLTP) [km]"] >= 400)]

grouped_by_make = filtered_df.groupby("Make")

group_dict = {make:group[["Car full name", "Minimal price (gross) [PLN]", "Range (WLTP) [km]"]] for make, group in grouped_by_make}

group_dict.keys()

dict_keys(['Audi', 'BMW', 'Hyundai', 'Kia', 'Mercedes-Benz', 'Tesla', 'Volkswagen'])

In [30]:
average_battery_capacity = df.groupby("Make")["Battery capacity [kWh]"]. mean().sort_values(ascending=False)

print(average_battery_capacity)

Make
Jaguar           90.000000
Porsche          89.850000
Audi             87.000000
Tesla            86.285714
Mercedes-Benz    85.000000
Volkswagen       61.075000
BMW              54.800000
Renault          52.000000
Kia              51.600000
Opel             50.000000
Peugeot          50.000000
DS               50.000000
CitroÃ«n          50.000000
Nissan           47.333333
Hyundai          47.166667
Skoda            36.800000
Mazda            35.500000
Honda            35.500000
Mini             28.900000
Smart            17.600000
Name: Battery capacity [kWh], dtype: float64